*body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #B9E8FB;
}

h2{
  text-align: center;
  color: white;
}

#box{
  margin: 0 auto 0 auto;
  height: 40vh;
  width: 50vw;
  background-color:#4587A1;
  border-radius: 15px;
}

form{
  position: relative;
  top: 20px;
  text-align: center;
}

input{
  height: 3vh;
  border: none;
  border-radius: 5px;
}

input:focus{
  border: none;
}

button{
  margin-left: 10px;
  height: 3.22vh;
  border: none;
  border-radius: 5px;
}