*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: white;
    text-align: center;
}
body{
    background-color: #FFB252;
}

#div1{
    margin:50px auto 10px auto;
    display: flex;
    width: 50vw;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
}

#input1{
    width: 65%;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: left;
    font-size: large;
}

#input1:focus{
    outline: none;
}

#addicon{
    height: 100%;
    color:  #FFB252;
    background-color:white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: x-large;
    cursor: pointer;
}

#addicon:active{
    background-color: orange;
    color: white;
}

#input2{
    width: 30%;
    border: none;
    border-radius: 15px;
    margin-left: 20px;
    font-size: large;
}

#input2:focus{
    outline: none;
}

#cardholder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    height: 30vh;
    width: 18vw;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

@media screen and (max-width:1310px) {
    .card{
        height: 20vh;
        width: 20vh;
    }
}